!!!
%html
  %head
    %title GUI Validation
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
    %meta{:charset => "utf-8"}/
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{style: "height: 100%"}
    .page-container
      %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
        .container
          .navbar-header
            %button{ :type => "button", :class => "navbar-toggle", :"data-toggle" => "collapse", :"data-target" => ".navbar-collapse" }
              %span.sr-only Przełącz nawigację
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand Validation GUI for Cyc
          .navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              %li= link_to "Datasets", datasets_path
              %li= link_to "Decisions", decisions_path
              %li &nbsp;
              - if user?
                %li= link_to "Log in", destroy_user_session_path, method: :delete
              - else
                %li= link_to "Log out", new_user_session_path
      .flash
        - if flash[:error]
          .flash-error= flash[:error]
      .container.middle-row
        .row.row-offcanvas.row-offcanvas-left{style: "height: 100%"}
          /#sidebar.col-sm-4.col-md-3.sidebar-offcanvas{:role => "navigation"}
          /  = render file: "shared/sidenav"
          .col-md-12.col-sm-12.main
            = yield
      %nav.navbar.navbar-default.navbar-fixed-bottom
        .container
          %a.navbar-brand{href: "http://www.apohllo.pl", target: "_blank"} Administrator
      :javascript
        $('.flash').fadeOut(2000,function(el){ el.hide(); })
