<table width="100%">
  <tr>
    <td style="text-align:center"><form action="/v/<%= counter %>" method="post"><button>Valid</button></form></td>
    <td style="text-align:center"><form action="/i/<%= counter %>" method="post"><button>Invalid</button></form></td>
    <td style="text-align:center"><form action="/u/<%= counter %>" method="post"><button>Unsure</button></form></td>
  </tr>
</table>
<hr>
<p>
<%= counter %>
</p>
<table width="100%">
  <tr>
    <td style="text-align:center" width="50%"><h1><%= wiki %></h1></td>
    <td style="text-align:center" width="50%"><h1><%= cyc %></h1></td>
  </tr>
</table>
<iframe src="<%= wiki_url %>" align="left" height="80%" width="48%"></iframe>
<iframe src="<%= cyc_url %>" align="right" height="80%" width="48%"></iframe>
