.container
  .row
    %h1.col-md-9
      = @dataset.name
    .col-md-3.main-actions
      .btn.btn-default
        = link_to "Datasets", datasets_path

%p
  Relation:
  = @dataset.relation

%h2 Statements
%table.table
  %tr
    %th Wikipedia name
    %th Cyc name
    %th Validation
  - @dataset.statements.limit(10).each do |statement|
    %tr
      %td= link_to statement.wikipedia_name, statement.wiki_link
      %td= link_to statement.cyc_name, statement.cyc_link
      %td
        - statement.decisions.each do |decision|
          .label{class: value_class(decision.value)}= value_label(decision.value)

%h2 Validators

%table.table
  %tr
    %th E-mail
    %th Progress
    %th Accuracy
    %th
  - @dataset.users.each do |user|
    %tr
      %td= user.email
      %td= "#{user.progress(@dataset)}%"
      %td= "#{user.accuracy(@dataset)}%"
      %td
        = link_to "remove", remove_dataset_path(@dataset, user_id: user.id), method: :post, data: {confirm: "Are you sure?"}

= simple_form_for :dataset, url: assign_dataset_path(@dataset) do |f|
  = f.select :user_id, User.all.map{|u| [u.email,u.id] }, {}#, class: "form-control"
  = f.submit "Assign", class: %w{btn btn-default}

